.game-area {
  position: relative;
  margin: 5px auto;
  width: 600px;
  height: 600px;
  border: 2px solid;

}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: black;
  border: 1px solid black;
  z-index: 2;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: red;
  border: 1px solid red;
  z-index: 1;
}